<h4>Post details</h4>
</br>
<p>
  <h4><%= @row['title'] %></h4>
  </br>
  <%= @row['content'] %>
  </br>
  </br>
  <p style="font-size: 90%">Added at: <%= @row['created_date'] %></p>
  </br>
</p>

</br>
<h4>Comments:</h4>
</br>
<p>
  <% @comments.each do |comment|%> 
    <p>
      <%= comment['content'] %>  
      </br>
      <p style="font-size: 85%">Added at: <%= comment['created_date'] %></p>
      <hr/>
    </p>
  <% end %>
</p>

<p>
  <form action="/details/<%= @row['id'] %>" method="post" class="mb-3">
    <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Type comment text here"></textarea>
    </br>
  <button type="submit" class="btn btn-primary">Send</button>
</form>
</p>
