<h2>Latest posts</h2>
    </br>
<% @results.each do |post| %>
  <p>
    <h4><%= post['title']%></h4>
    </br>
    <%= post['content']%>
    </br>
    </br>
    Addet at: <%= post['created_date']%>
    </br>
    </br>
    <a href="/details/<%= post['id'] %>">Comments</a>
  </p>
  <hr/>
<% end %>