<h1>Create new post</h1>

<p>
  <form action="/new" method="post" class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">New post</label>
  <textarea style="width: 30%" name="title" class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Type post title here"></textarea>
  </br>
  <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Type post text here"></textarea>
  </br>
  <button type="submit" class="btn btn-primary">Create</button>
  </form>
</p>